[default_macros]
cooldown: TURN_OFF_HEATERS
extrude: _GUPPYSCREEN_EXTRUDE EXTRUDER_TEMP={} EXTRUDE_LEN={} SPEED={}
retract: _GUPPYSCREEN_RETRACT EXTRUDER_TEMP={} EXTRUDE_LEN={} SPEED={}
load_filament: LOAD_FILAMENT EXTRUDER_TEMP={}
unload_filament: UNLOAD_FILAMENT EXTRUDER_TEMP={}

[ui]
# themes supported are blue, green, pink, purple, red, yellow
theme: blue
invert_z_icon: false
prompt_emergency_stop: true
# specify -1 for never
display_sleep_sec: 600
# log levels are info, debug, trace
log_level: info
display_rotate: 0

[moonraker]
host: 127.0.0.1
port: 7125

[commands]
factory_reset_cmd: /usr/bin/factory-reset
gui_restart_cmd: /etc/init.d/gui-switcher restart
cosmos_update_cmd: /usr/bin/update-cosmos
switch_to_stock_cmd: /usr/bin/switch-to-oc-patched
support_zip_cmd:

[fan "fan"]
display_name: Toolhead

[fan "fan_generic model_helper_fan"]
display_name: Model Helper

[fan "fan_generic box_fan"]
display_name: Chamber

[led "led hotend"]
display_name: Toolhead
pwm: true

[led "led case"]
display_name: Case
pwm: true

[monitored_sensor "extruder"]
display_name: Extruder
color: red
controllable: true

[monitored_sensor "heater_bed"]
display_name: Bed
color: purple
controllable: true

[monitored_sensor "temperature_sensor box"]
display_name: Chamber
color: blue
controllable: true
